{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<div class="npc-character">
    <table>
        <td>
            <div class="image-grid-element{% if not card_character.producible %} unproducible-element{% endif %}" onclick="selectCard({{ card_character.id }}, 0)" card-id="{{ card_character.id }}">
                <div class="image-card" style="background-image: url({{ card_character.url }});"></div>
                <div class="image-frame" style="background-image: url({{ card_character.frame }});"></div>
                <div class="text-stat" id="card-hp" {% if card_character.category == spell %} style="display:none;" {% endif %}>{{ card_character.hp }}</div>
            </div>
        </td>
        <td>
            {% if LANGUAGE_CODE == 'ko' %}
                <p class="npc-chapter-name">{{ chapter_name }}</p>
                <p class="npc-loading-name">{{ loading_name }}</p>
                <p class="npc-loading-desc">{{ loading_desc }}</p>
            {% elif LANGUAGE_CODE == 'en' %}
                <p class="npc-chapter-name">{{ chapter_name_us }}</p>
                <p class="npc-loading-name">{{ loading_name_us }}</p>
                <p class="npc-loading-desc">{{ loading_desc_us }}</p>
            {% endif %}
        </td>
    </table>
</div>

<div class="npc-image-grid">
    {% for card in deck_card_list %}
        {% trans "캐릭터" as character %}
        {% trans "추종자" as follower %}
        {% trans "스펠" as spell %}
        <div class="npc-image-grid-element{% if not card.producible %} unproducible-element{% endif %}" onclick="selectCard({{ card.id }}, 0)" card-id="{{ card.id }}">
            <div class="image-card" style="background-image: url({{ card.url }});"></div>
            <div class="image-frame" style="background-image: url({{ card.frame }});"></div>
            <div class="image-enhance" style="background-image: url({{ card.frame_enh }}){% if card.enhance == 0 %};display:none;{% endif %}"></div>
            <div class="text-stat" id="card-enhance" {% if card.enhance == 0 %} style="display:none;" {% endif %}>{{ card.enhance }}</div>
            <div class="text-stat" id="card-size" {% if card.category ==  character %} style="display:none;" {% endif %}>{{ card.size }}</div>
            <div class="text-stat" id="card-atk" {% if card.category != follower %} style="display:none;" {% endif %}>{{ card.atk }}</div>
            <div class="text-stat" id="card-def" {% if card.category != follower %} style="display:none;" {% endif %}>{{ card.defs }}</div>
            <div class="text-stat" id="card-hp" {% if card.category == spell %} style="display:none;" {% endif %}>{{ card.hp }}</div>
            <div class="image-count">
                <div class="text-stat" id="card-x">x</div>
                <div class="text-stat" id="card-count">{{ card.count }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="deck-statistics">
    <div class="deck-statistics-box" id="deck-statistics-category">
        {% for category, count in stat_category %}
            <img class="deck-statistics-icon" src="{% get_static_prefix %}card/Texture2D/UI_icon_card_{{ category }}.webp">
            <span class="deck-statistics-category-text">{{ count }}</span>
        {% endfor %}

        <img class="deck-statistics-icon" src="{% get_static_prefix %}card/Texture2D/result_{{ stat_rank_char }}.webp">
        <span class="deck-statistics-category-text">{{ stat_point }}</span>
    </div>

    <div class="deck-statistics-box" id="deck-statistics-size">
        <div class="stat-column">
            {% for count in stat_size|slice:":5" %}
                <div class="stat-row">
                    <span style="font-family: skill;">{{ forloop.counter }}</span>
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="stat-column">
            {% for count in stat_size|slice:"5:" %}
                <div class="stat-row">
                    <span style="font-family: skill;">{{ forloop.counter|add:5 }}</span>
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="deck-statistics-box" id="deck-statistics-theme">
        <div class="stat-column">
            {% for theme, count in stat_theme|slice:":3" %}
                <div class="stat-row">
                    <img class="deck-statistics-icon-large" src="{% get_static_prefix %}card/Texture2D/icon_E_{{ theme }}.webp">
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="stat-column">
            {% for theme, count in stat_theme|slice:"3:" %}
                <div class="stat-row">
                    <img class="deck-statistics-icon-large" src="{% get_static_prefix %}card/Texture2D/icon_E_{{ theme }}.webp">
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="deck-statistics-box" id="deck-statistics-rarity">
        <div class="stat-column">
            {% for rarity, count in stat_rarity|slice:":3" %}
                <div class="stat-row">
                    <img class="deck-statistics-icon-large" src="{% get_static_prefix %}card/Texture2D/UI_icon_grade_{{ rarity }}.webp">
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="stat-column">
            {% for rarity, count in stat_rarity|slice:"3:" %}
                <div class="stat-row">
                    <img class="deck-statistics-icon-large" src="{% get_static_prefix %}card/Texture2D/UI_icon_grade_{{ rarity }}.webp">
                    <div class="bar-frame">
                        <div class="bar-fill" style="width: {% widthratio count 30 100 %}%;"></div>
                    </div>
                    <span class="text-stat">{{ count }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="deck-statistics-box" id="deck-statistics-count">
        <p>{{ ep_enh_str }}</p>
        {% if LANGUAGE_CODE == 'ko' %}
            <p>{{ tag_enh_str }}</p>
        {% elif LANGUAGE_CODE == 'en' %}
            <p>{{ tag_enh_str_us }}</p>
        {% endif %}
    </div>
</div>