<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'card/html2canvas.min.js' %}"></script>
    <script src="{% static 'card/select_card.js' %}"></script>
    <link rel="stylesheet" href="{% static 'card/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="left">
            <div class="floor-navigation">
                {% if floor_down != -1 %}
                <a class="floor-button" href="{% url 'npc_detail' floor_down %}">◀</a>
                {% else %}
                <a class="floor-button" style="opacity: 0.5; pointer-events: none;">◀</a>
                {% endif %}
                <select class="floor-selector" onchange="navigateToFloor(this)">
                    {% for i in floors %}
                    <option value="{% url 'npc_detail' i %}" {% if i == current_floor %}selected{% endif %}>
                        {{ forloop.counter }}
                    </option>
                    {% endfor %}
                </select>
                {% if floor_up != -1 %}
                <a class="floor-button" href="{% url 'npc_detail' floor_up %}">▶</a>
                {% else %}
                <a class="floor-button" style="opacity: 0.5; pointer-events: none;">▶</a>
                {% endif %}
            </div>
            
            {% include 'npc/npc_deck.html' %}
        </div>

        <div class="right">
            {% include 'card/select_card.html' %}
        </div>
    </div>
</body>

<script>
    function navigateToFloor(selectElement) {
        const url = selectElement.value;
        if (url) {
            window.location.href = url;
        }
    }
</script>