@font-face {
    font-family: 'title';
    src: url('fonts/NEXON Lv1 Gothic OTF Bold.otf') format('opentype');
}
@font-face {
    font-family: 'contents';
    src: url('fonts/NEXON Lv1 Gothic OTF.otf') format('opentype');
}
@font-face {
    font-family: 'skill';
    src: url('fonts/BinggraeMelona-Bold.otf') format('opentype');
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    border-bottom: 1px solid #ddd;
}
.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.navbar-item {
    float: left;
}
.navbar-item a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}
.navbar-item a:hover {
    background-color: #ddd;
}
.language-menu {
    text-align: right;
    margin-left: auto;
}

.container {
    margin: 10px;
    padding: 0;
    height: 85vh;
    display: flex;
}

.left {
    width: 770px;
    overflow-y: auto;
}
.search-filter {
    outline: solid 1px black; /* temporary */
    display: none;
}
.search-filter-title {
    font-family: 'title';
    padding-left: 5px;
    width: 100px;
}
.active {
    background-color: white;
}
.search-filter-contents {
    font-family: 'contents';
    font-size: 15px;
}
.search-filter table {
    width: 100%
}
.search-filter table tbody tr {
    line-height: 2rem;
}
.search-filter table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.checkbox-inline div {
    display: inline-block;
    margin-right: 10px;
}

.search-result {
    min-width: 750px;
    outline: solid 1px black;
}
.image-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
.image-grid-element {
    width: 120px;
    height: 180px;
    margin-bottom: 5px;
    position: relative;
}
.unproducible-element {
    box-shadow:0px 0px 5px 2px red inset;
}
.image-grid-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-grid-page p{
    margin-left: 10px;
    margin-right: 10px;
}

.right {
    overflow-y: scroll;
    min-width: 370px;
    max-width: 370px;
}
.right.horz-layout {
    min-width: 720px;
    max-width: 720px;
}
.selected-card-body {
    outline: solid 1px black;
    position: relative;
    min-height: 560px;
}
#capture-btn {
    width: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
#vert-horz-btn {
    width: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.selected-card {
    display: flex;
    flex-direction: column;
}
.selected-card.horz-layout {
    flex-direction: row;
}

.selected-card-side {
    position: absolute;
    top: 40px;
    left: 250px;
}
#card-product-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 0px;
}
#card-enhance-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 160px;
    left: 0px;
}
#card-enhance-up {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 160px;
    left: 50px;
    transform: rotate(180deg);
}
#card-enhance-down {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 185px;
    left: 50px;
}
#card-link-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 230px;
    left: 0px;
}
#card-link-prev {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 255px;
    left: 50px;
}
#card-link-reset {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 230px;
    left: 0px;
}
#card-link-next {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 230px;
    left: 50px;
    transform: rotate(180deg);
}
#swap-text-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 0px;
}

.selected-card-side.horz-layout {
    position: absolute;
    top: 420px;
    left: 10px;
}
.horz-layout #card-product-btn {
    width: 50px;
    height: 50px;
    position:absolute;
    top: 80px;
    left: 10px;
}
.horz-layout #card-enhance-img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 10px;
}
.horz-layout #card-enhance-up {
    width: 40px;
    height: 20px;
    position: absolute;
    top: -23px;
    left: 15px;
    transform: rotate(180deg);
}
.horz-layout #card-enhance-down {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 15px;
}
.horz-layout #card-link-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 95px;
}
.horz-layout #card-link-reset {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 95px;
}
.horz-layout #card-link-prev {
    width: 40px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 99px;
}
.horz-layout #card-link-next {
    width: 40px;
    height: 20px;
    position: absolute;
    top: -23px;
    left: 99px;
    transform: rotate(180deg);
}
.horz-layout #swap-text-btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 180px;
}

.grayscale {
    filter: grayscale(100%);
}

.selected-card-image {
    width: 240px;
    height: 360px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}
.unproducible-card {
    box-shadow:0px 0px 8px 4px red inset;
}
.image-card {
    position: absolute;
    top: 3%;
    left: 5%;
    width: 90%;
    height: 95%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.image-enhance {
    position: absolute;
    bottom: 27%;
    right: 11%;
    width: 19%;
    height: 13%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.text-stat {
    font-family: 'skill';
    font-size: 40px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.image-grid .text-stat {
    font-size: 20px;
}

#card-size {
    position: absolute;
    top: -3%;
    right: 18%;
    transform: translate(50%, 50%);
}
#card-atk {
    position: absolute;
    bottom: 10%;
    left: 13%;
}
#card-def {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
}
#card-hp {
    position: absolute;
    bottom: 10%;
    right: 13%;
}
#card-enhance {
    position: absolute;
    bottom: 29%;
    right: 20.5%;
    font-size: 24px;
    transform: translate(50%, 0%);
}

.selected-card-texts {
    display: flex;
    flex-direction: column;
}

.selected-card-title {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 20px;
}
.top-row {
    margin-top: 10px;
    display: flex;
}
.right-column {
    display: flex;
    flex-direction: column;
}
.p-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'title';
    font-size: 24px;
}
.p-episode, .p-rarity {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-family: 'contents';
    font-size: 14px;
    white-space:nowrap;
}
.p-tag {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'contents';
    font-size: 15px;
}
.selected-card-skill, .selected-card-story {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* justify-content: center;
    align-items: center; */
}
.p-skill {
    margin-top: 5px;
    margin-bottom: 5px;
    /* outline: dashed 1px black; */
    font-family: 'skill';
}
.selected-card-skill p:empty {
    display:none;
}

.selected-card-product table {
    border-collapse: separate;
    border-spacing: 10px; /* 열 간 간격 */
}
.selected-card-product .image-product {
    width: 50px;
    height: 50px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; /* 이미지 중앙 정렬 */
}

.deck-table {
    width: 100%; /* 테이블 전체 너비를 100%로 설정 */
    table-layout: fixed; /* 고정된 테이블 레이아웃 사용 */
    border-collapse: collapse; /* 셀 간의 중복된 테두리를 제거 */
}

.floor-navigation {
    display: flex;
    align-items: center; /* 세로 정렬 */
}
.floor-button {
    font-size: 24px;
    text-decoration: none;
    color: black; /* 기본 텍스트 색상 */
}
.floor-button:hover {
    text-decoration: none; /* 호버 시 밑줄 */
    color: red; /* 호버 시 효과 */
}
.floor-selector {
    font-size: 12px; /* 텍스트 크기 */
    padding: 5px; /* 내부 여백 */
}

.chapter-header {
    font-family: 'title';
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.deck-chapter-name {
    font-family: 'title';
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.deck-loading-name {
    font-family: 'skill';
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.deck-loading-desc {
    font-family: 'skill';
    white-space: pre-line;
    margin-left: 10px;
}

.deck-character #card-hp {
    font-size: 25px;
}

.deck-image-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.deck-image-grid-element {
    width: 80px;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
}

.deck-image-grid .text-stat {
    font-size: 13px;
}

.deck-image-grid #card-enhance {
    font-size: 8px;
}

.image-count {
    position: absolute;
    left: 30%;
    bottom: -10%;
    background-color: #ed5151;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-x {
    position: absolute;
    left: 2px;
    font-size: 8px;
}

#card-count {
    color: white;
    font-size: 10px;
}

.vote-tier-img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.grayscale {
    filter: grayscale(100%);
}

.vote-tier-img:not(.grayscale) {
    filter: none;
}

.vote-tier-img.grayscale:hover {
    filter: none;
}
