<!DOCTYPE html>
{% load static %}
{% load card_filters %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'card/html2canvas.min.js' %}"></script>
    <script src="{% static 'card/search_card.js' %}"></script>
    <script src="{% static 'card/select_card.js' %}"></script>
    <script src="{% static 'card/search_card.js' %}"></script>
    <link rel="stylesheet" href="{% static 'card/style.css' %}">
    <script>
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{ csrf_token }}' }
        });
    </script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="left">
            {% include 'card/search_card.html' %}

            <h3>How to create hyperlink to card</h3>
            <li>{site_url}/card#selectCard/{card_id}/0</li>

        </div>

        <div class="right">
            {% include 'card/select_card.html' %}
        </div>
    </div>
</body>
<script>
<!-- function call by hash in url -->
    window.onload = function() {
        const hash = window.location.hash.substring(1); // Remove the #
        const parts = hash.split('/');
        const functionName = parts[0];
        const arg1 = parts[1];
        const arg2 = parts[2];
        if (functionName && typeof window[functionName] === 'function') {
            window[functionName](arg1, arg2);
        }
    };

    function dragCard(event) {
        event.dataTransfer.setData("cardId", event.target.getAttribute('card-id'));
    }
</script>
</html>