<div class="image-grid">
    {% for card in card_list %}
        <form method="POST" action="{% url 'select' card.id %}">
            {% csrf_token %}
            <div class="image-item">
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <button type="submit">
                    <img src="{{ card.url }}">
                </button>
            </div>
        </form>
    {% endfor %}
    
    <div class="image-grid-page">
        <button id="page-up">&lt;</button>
        <p class="page">{{ page }}</p> 
        <button id="page-down">&gt;</button>
    </div>
</div>