{% load static %}
{% load i18n %}

<!-- selected card variable -->
<script>
    var link_origin_id = 0;
    var link_card_ids = '';
    var link_card_idx = 0;
    var enhance_card_orig = 0;
    var enhance_card_prev = -1;
    var enhance_card_next = -1;
    var baseUrl = "{{ base_url_from_django_view_context }}";
    var lang = "{{ LANGUAGE_CODE }}"
    const horizontalLayout = "{{ horizontal_layout }}";
    const verticalLayout = "{{ vertical_layout }}";
</script>

<div class="selected-card-body">
    <button type="button" id="capture-btn" onclick="captureCard()" style="display:none;"> {% trans "캡처하기" %} </button>
    <button type="button" id="vert-horz-btn" onclick="verthorzCard()" style="display:none;"> {{ horizontal_layout }} </button>
    <div class="selected-card" id="capture-area"></div>
    <div class="selected-card-side">
        <img id="card-product-btn" onclick="toggleProducts()" src="{% static 'card/Texture2D/UI_icon_inventory.webp' %}" style="display:none;">
        <img id="card-enhance-img" onclick="resetEnhanceCard()" src="{% static 'card/Texture2D/UI_icon_Tempered.webp' %}" style="display:none;">
        <img id="card-enhance-up" onclick="showEnhanceCard(1)" src="{% static 'card/Texture2D/UI_icon_arrow_text.webp' %}" style="display:none;">
        <img id="card-enhance-down" onclick="showEnhanceCard(-1)" src="{% static 'card/Texture2D/UI_icon_arrow_text.webp' %}" style="display:none;">
        <img id="card-link-btn" onclick="showLinkCard(0)" src="{% static 'card/Texture2D/UI_icon_linked.webp' %}" style="display:none;">
        <img id="card-link-prev" onclick="showLinkCard(-1)" src="{% static 'card/Texture2D/UI_icon_arrow_text.webp' %}" style="display:none;">
        <img id="card-link-next" onclick="showLinkCard(1)" src="{% static 'card/Texture2D/UI_icon_arrow_text.webp' %}" style="display:none;">
        <img id="card-link-reset" onclick="resetLinkCard()" src="{% static 'card/Texture2D/UI_icon_reset.webp' %}" style="display:none;">
        <img id="swap-text-btn" onclick="swapTextTo('story')" src="{% static 'card/Texture2D/UI_Icon_story 1.webp' %}" style="display:none;">
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', attachTooltipHandler);
</script>